*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #fafafa;
}


@font-face {
    font-family: karantina;
    src: url(../assets/fonts/Karantina-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

.top{
    background-image: url(../assets/img/bg.jpg);
    background-size: auto;
    height: 160px;
}

/* SOCIAL NETWORK */

.top-nav{
    width: 100%;
    height: 35px;
    background-color: #574e4e9d;
}

.social{
    margin-top: 8px;
    float: right;
    padding-right: 67px;
}


.social-icon{
    font-size: 15px;
    padding: 8px 0px;
    color: #D7D7D7;
}

.social-icon:hover{
    color: #ffffff;
    scale: 0.6;
    transition: 0.2s;
    border-radius: 3px
}

.icon-link{
    font-size: 15px;
    padding: 8px 13px;
    color: #D7D7D7;
}

.in:hover{
    background-color: #1DA1F2;
}

.fb:hover{
    background-color: #2D88FF;
}

.ig:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.yt:hover{
    background-color: #FF0000;
}

.icon-link:visited{
    color:inherit;
}   

/* top page */

.top-page{
    display: flex;
    justify-content: space-between;
}

.top-page img{
    width: 350px;
    margin-left: 20px;
    margin-top: 10px;
}

.main-nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.main-nav__item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    list-style: none;
}

.main-nav__link{
    position: absolute;
    color: #c7bfbf;
    text-decoration: none;
    font-size: 17px;
    font-family: roboto;
}

.main-nav__link:hover{
    font-size: 18px;
    transition: 0.2s;
    color: #d8d8d8;
}

.arrow{
    font-size: 15px;
    padding-left: 5px;
}

.inicio{
    border-bottom: 2px solid #c7bfbf;
    border-radius: 2px;
}

/* menu */

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    background-image: url(../assets/img/bg.jpg);
    margin-top: 10px;
    border-radius: 2px;
}

.main-menu__link, .sub-menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url(../assets/img/bg.jpg);
    font-family: roboto;
    font-size: 15px;
    height: 50px;
    text-decoration: none;
}

.main-menu__link:hover, .sub-menu__link:hover{
    filter: brightness(.8);
}


.main-menu, .sub-menu{
    list-style: none;
    display: flex;
}

.main-menu__item, .sub-menu__item{
    position: relative;
    width: 100%;
    text-align: center;
}

.main-menu__item{
    width: 150px;
}

.main-menu__item:hover .sub-menu__item{
    top: 0;
    display: block;
}

.sub-menu__item{
    display: none;
    position: relative;
    background-color: #501a16;

}

.sub-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}
